<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WBUT</title>
    <link rel="stylesheet" href="cl.css"/>
</head>
<body>
<h1>Welcome to WBUT</h1>
<form method="post" action="/submit">
    <table border="1">
        <tr>
            <td>Name :</td>
            <td><input type="text" id="tbn" name="name"></td>
        </tr>
        <tr>
            <td>ROll_no :</td>
            <td><input type="number" id="tbrn" name="roll_no"></td>
        </tr>
        <tr>
            <td>Joining_year :</td>
            <td><input type="text" id="tbjy" name="joining_year"></td>
        </tr>
        <tr>
            <td>College :</td>
            <td><input type="text" id="tbc" name="college"></td>
        </tr>
        <tr>
            <td>Stream :</td>
            <td><select id="ddls" name="stream">
                <option>----select----</option>
                <option>ME</option>
                <option>EE</option>
                <option>ECE</option>
                <option>EIE</option>
                <option>CS</option>
                <option>IT</option>
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="submit"></td>
        </tr>

    </table>
</form>
</body>
</html>